<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Final Exam</title>
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!--Css-->
    <link rel="stylesheet" href="./main.css" />
</head>

<body>
    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="../MainPage/index.html" method="post">
                            <h3 class="text-center text-dark">Sign In</h3>
                            <div class="form-group">
                                <label for="email" class="text-dark">Email:</label><br>
                                <input type="text" name="username" id="username" placeholder="Email" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-dark">Password:</label><br>
                                <input type="text" name="password" id="password" placeholder="Password" class="form-control">
                            </div>
                            <div class="form-group form-btn">
                                <button type="submit" class="btn">Login</button>
                            </div>
                            <div class="form_info">
                                <p>Don’y have an Account ? <a class="login_page" href="../RegisterPage/index.html">Register</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body></html>
